body {
    
    margin: 0;
    color: rgb(255, 217, 0);
}

.nav{
    font-family: 'Marck Script', Brush Script Std, cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    background-color: black;
    color: rgb(255, 217, 0);
}



.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 4rem;
    
}

.container1{
    font-family: 'Marck Script', Brush Script Std, cursive;
    display: flex;
    text-align: left;
    height: 50vh;
    list-style: none;
    background-image: url("imgs/wallpaper1.png");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    color: rgb(255, 217, 0);
}

.container1Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.container1 img{
    height: 70%;
    justify-content: center;
    padding-left: 10%;
}

