@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Nanum+Gothic+Coding&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Chivo Mono', monospace;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem;
    margin-bottom: 20px;
    color: white;
}



.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 4rem;
    
}

.nav a{
    text-decoration: none;
    color: white;
}

.container{

    display: flex;
    width: 100%;
    height: 100vh;
}

.container2{
    width: 50%;
    background-color: black;
}

.container1{
    position: relative;
    overflow: hidden;
    text-align: left;
    width: 50%;
    height: auto;
    list-style: none;
    color: rgb(60, 194, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;

}



.intro1{
    display: flex;
    text-align: left;
    margin-left: 10%;
    margin-right: 5%;
}
.intro2{
    display: flex;
    text-align: left;
    margin-left: 10%;
    margin-right: 5%;
    font-size: 80%;
    gap: 2rem;
}

.container2 h2{
    margin-top: 30%;
    display: flex;
    text-align: left;
    margin-left: 10%;
    margin-right: 5%;
}


.icon{
    display: flex;
    margin-left: 10%;

}

.icon a{
    padding: 0.3rem;
    color: #aaa;
}

.icon a:hover{
    transform: scale(1.5);
    color: #333;
}



.container3{
    width: 80%;
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.con3written{
    color: white;
    margin-left: 10%;
    width: 100%;
    height: 70vh;
    text-align: left;
    
}

.con3written a{
    color: white;
}

.con3written a:hover{
    transform: scale(1.5);
}


.container4{
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.con4written{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 18%;
    margin-left: 10%;
    margin-right: 10%;

}



.container3 li{
    padding: 1%;
}

.stackImg{
    width: 64px;
    height: 64px;
}

.stack:hover{
    transform: scale(1.5);
}

.stackIcon{
    font-size: 64px;
}

.stackIconNJ{
    font-size: 64px;
    color: green;
}

.stackIconRT{
    font-size: 64px;
    color: skyblue;
}

.stackIconPT{
    font-size: 64px;
    color: skyblue;
}

.stackIconHT{
    font-size: 64px;
    color: rgb(227, 76, 38);
}

.stackIconCS{
    font-size: 64px;
    color: rgb(38, 77, 228);
}

.stackIconJS{
    font-size: 64px;
    color: rgb(240, 219, 79);
}

.container5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15%;
}

.allStack{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    width: 100%;
    flex-wrap: wrap;
}

.stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
.container6{
    width: 100%;
    height: auto;
    position: relative;
    
} 
.container7{
    position: relative;
    width: 43%;

    
}

.container8{
    text-align: center;
}


.experience{
    padding:20px 30px;
    position: relative;
    border-radius: 6px;
    color: white;

}

.left{
    left: 0;
    margin-left: 5%;

}

.right{
    left: 52%;
    margin-right: 5%;
}

.container6::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 4s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.LogoTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LDlogo{
    width: 20%;
    height: 20%;
}

.LD{
    background-color: #005faf;
}

.PSSlogo{
    width: 15%;
    height: 15%;
}

.PSS{
    background-color: #1d783d;
}

.TitleCompany{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.company{
    font-size: small;
}

.CEESlogo{
    width: 15%;
    height: 15%;
}

.CEES{
    background-color: goldenrod;
}

.TS{
    background-color: rgb(227, 76, 38);
}

.container9{
    margin-top: 25%;
    width: 100%;
    height: auto;
}

.container9 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carRental, .studentHub, .movieApp{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.carRental video{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center; 
}

.video1{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.studentHub video{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    
}

.movieApp video{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    
}

.note{
    text-align: center;
}



@media(max-width:1062px){
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    p{
        font-size: 30px;
    }
}

@media(max-width:850px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 10px;
    }

    
}

@media(max-width:680px){
    .contianer6{
        margin: 50px auto;
    }
    .container6::after{
        left: 10%
    }
    .container7{
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .left{
        left: 10%;
    }

    .right{
        left: 15%;
    }
}





/* 

!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Timeline</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .main{
            width: 100%;
            height: auto;
            background-color: rgb(245, 245, 245);
            font-family: poppins;
            padding: 50px 0;
            display: grid;
            place-items: center;
        }
        .main .heading{
            font-size: 27px;
            font-weight: 500;
            color: rgb(106, 6, 236);
            position: relative;
            margin-bottom: 80px;
        }
        .heading::after{
            content: " ";
            position: absolute;
            width: 50%;
            height: 4px;
            left: 50%;
            bottom: -5px;
            background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
            transform: translateX(-50%);
        }

        /* Container Css Start  */
 
